body {
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
}
/* Ãrea del juego */
.game-container {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 600px;
    border: 2px solid #000;
    background-color: #333;
    position: relative;
    overflow: hidden;
}

/* Columnas */
.column {
    width: 80px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

/* Notas */
.note {
    width: 100%;
    height: 90px;    
    text-align: center;
    position: absolute;
    background-image: url('./img/nota.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    left: 20px;
    margin-inline: 1em;
    top: -20px; /* Inician fuera de la pantalla */
}

/* Zona de acierto */
.hit-zone {
    position: absolute;
    bottom: 22px;
    width: 21px;
    height: 35px;        
    background-color: cyan;
}

.hit-zone::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid cyan;
    margin-left: -9px;
    margin-top: 24px;
}


.column:first-child > .hit-zone {
    transform: rotate(92deg);
}

.column:nth-child(2) > .hit-zone {
    transform: rotate(180deg);
}

.column:nth-child(4) > .hit-zone {
    transform: rotate(268deg);
}


/* Flecha hacia abajo */
.note.down {
    background-color: transparent;
    transform: translateX(-50%) rotate(0deg);
}
.note.down::after {font-size: 48px;}

/* Flecha hacia arriba */
.note.up {
    background-color: transparent;
    transform: translateX(-50%) rotate(180deg);
}
.note.up::after {font-size: 48px;}

/* Flecha hacia la izquierda */
.note.left {
    background-color: transparent;
    transform: translateX(-50%) rotate(90deg);
}
.note.left::after {font-size: 48px;}

/* Flecha hacia la derecha */
.note.right {
    /* background-image: url('./img/nota.png'); */
    transform: translateX(-50%) rotate(-90deg);

}